<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite thread-count="1" verbose="1" name="Hepsiburada Suite" annotations="JDK" parallel="tests">

    <test name="Hepsiburada">
        <classes>
            <class name="com.hepsiburada.tests.Hepsiburada"/>
        </classes>
    </test>
</suite>